@import './template';
@import './colors';
@import './forms';
$bg-color : "#1F6870";



.navigation{
    .nav{
        border: 2px solid #000;
    }
    .item{
        color: #61EFFF;
        font-weight: bolder;
        font-size: 1.2em;
    }
    margin: 0;
    
}

.footer{
    border-top: 1px solid #000;
    display: flex;
     flex-direction: column;
   
   img{
       display: flex;
       justify-content: center;
      align-self: center;
   }
    p{
        text-align: center;
    }
}

.header{
    height: 80vh;
    background: linear-gradient(45deg, #e73c7e, #0dbfd3, #23d5ab, #1F6870);

    .header_container{
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;  
    }


    .text{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5em;
        margin-top: 10%;
        color: #1F6870;

        h4{
            font-size: 3em;
            padding-bottom: 0.5em;
        }
        h6{
            font-size: 1em;
           
        }
        button{
            color: #fff;
            border: 1px solid #000;
            margin-top: 0.5em;
            background-color: #1F6870;

            &:hover{
                background-color: #FFF;
                color: #000;
            }
        }
    }

    
}
